/* overpass-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 500;
  src: url("./overpass/overpass-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: url("./overpass/overpass-v12-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./overpass/overpass-v12-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./overpass/overpass-v12-latin-500.woff") format("woff"),
    /* Modern Browsers */
      url("./overpass/overpass-v12-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./overpass/overpass-v12-latin-500.svg#Overpass")
      format("svg"); /* Legacy iOS */
}

/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("./overpass/overpass-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: url("./overpass/overpass-v12-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./overpass/overpass-v12-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./overpass/overpass-v12-latin-700.woff") format("woff"),
    /* Modern Browsers */
      url("./overpass/overpass-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./overpass/overpass-v12-latin-700.svg#Overpass")
      format("svg"); /* Legacy iOS */
}

/* overpass-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 800;
  src: url("./overpass/overpass-v12-latin-800.eot"); /* IE9 Compat Modes */
  src: url("./overpass/overpass-v12-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./overpass/overpass-v12-latin-800.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./overpass/overpass-v12-latin-800.woff") format("woff"),
    /* Modern Browsers */
      url("./overpass/overpass-v12-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./overpass/overpass-v12-latin-800.svg#Overpass")
      format("svg"); /* Legacy iOS */
}
